// hike-up variables
$hu-green: #00b7af;
$hu-blue: #2e84dd;
$hu-red: #ff435a;
$hu-nav: #26405a; /*menu nav*/
$hu-green-1: #54bdbf; /*button*/
$hu-green-2: #009b94; /* button focus */
$hu-grey: #8c8c8c;
$hu-grey-1: #e3e6e9;
$hu-dark: #151515;

/* graph */
$hu-g1-1: #e3f4db;
$hu-g1-2: #c7edc3;
$hu-g1-3: #ace5b3;
$hu-g1-4: #95dcae;
$hu-g1-5: #7fd3af;
$hu-g1-6: #69c9b6;
$hu-g1-7: #54bdbf;

$hu-g1-h1: #aadd92;
$hu-g1-h2: #87d87e;
$hu-g1-h3: #6ed17b;
$hu-g1-h4: #5dc983;
$hu-g1-h5: #4cc18f;
$hu-g1-h6: #40b39d;
$hu-g1-h6: #3b9ea0;

/*not used*/
/* 25 40 55 darken of blue*/
/*
    $hu-panel-1: #2176ce;
    $hu-panel-1a: #1c62ac;
    $hu-panel-1b: #164f89;
    $hu-panel-1c: #103b67;
    */
/* 10 25 40 55 darken of green*/
/*
    $hu-panel-4: #00a49d;
    $hu-panel-4a: #008983;
    $hu-panel-4b: #006d69;

    $hu-light-grey-1: #F2F5F7;
    $hu-panel-p1: #00B7AF;
    $hu-panel-6: #67C3CD;
    $hu-panel-7: #75C8D7;
    $hu-panel-8: #89CEDF;
    $hu-panel-9: #A0D6E1;
    $hu-panel-10: #B5DFEF;
    $hu-panel-12: #A6A6A6;
    $hu-panel-13: #BFBFBF;
    $hu-panel-14: #D9D9D9;
    $hu-panel-15: #F2F2F2;
    $hu-panel-16: #76aee8;
    */

// Override default variables before the import
$theme-colors: (
  "primary": $hu-green,
  "secondary": $hu-blue,
  "danger": $hu-red,
  // "purple": purple,
);

// $enable-rounded: false;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// App style
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 72px);
  background: #8c8c8c;
}

// form style
.form-container {
  background: #fff;
  border-radius: 20px;
  padding: 30px 80px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 15px 16px 0.17px rgba(0, 0, 0, 0.05);
}

// rating component
.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;

  > input {
    display: none;

    &:checked ~ label,
    &:checked ~ label ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    &:not(:checked) ~ label:hover,
    &:not(:checked) ~ label:hover ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
  }

  > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: 0.3s;
  }
}

.rating-0 {
  filter: grayscale(100%);
}
